* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Biến Color */
    --white-color: #fff;
    --black-color: #000;
    --background-color: #1c1c1c;
    --background-div: #575757;
    --text-color: #e3e3e3;
    --font-size: 62.5%;
}

.main {
    max-width: 1200px;
    margin: 0 auto;

}

.grid {
    /* width: 100%; */
    /* display: block; */
    padding: 0 5vh;
}

